.content__card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 7%;
    border: 1px solid var(--text-color);
    aspect-ratio: 4/3 
} 

.content__card-title {
    font-size: 60px;
    font-weight: 600;
    font-family: var(--accent-font);
}

.content__card-subtitle {
    font-family: var(--main-font);
    font-size: 18px
}

.colored-text {
    position: relative;
    display: inline-block;/* Элементы будут располагаться в одной строке */
}

.colored-text::after {
    content: ""; 
    position: absolute; 
    left: -2.5%;
    top: 65%; 
    width: 105%; 
    height: 0.3em; 
    background-color: var(--accent-color); 
    z-index: -1; 
    transform: translateY(-50%);
}

.theme_dark .colored-text::after {
    background-image: url('../images/pattern.svg');
}