.heading {
    font-family: var(--accent-font);
    font-weight: var(--accent-weight);
    text-align: center;
}

.header {
    padding-top: 10%;
} 

.header__title {
    font-size: clamp(3.75rem, 2.5rem + 5.5556vw, 7.5rem);
    margin-bottom: 30px;
}



button,a {
    outline: none;/* цвет родителя */
}

button:focus-visible, a:focus-visible {
    outline: 1px solid var(--text-color); /* не влияет на размер */
} 

.header__menu {
    display: flex;
    justify-content: space-between; /*располложение в нутри контейнира  */ 
    flex-direction: row;/* Элементы располагаются в строку */
    border-top: 2px solid var(--text-color);
    border-bottom: 2px solid var(--text-color);
}

.header__logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__theme-toggler {
    list-style: none;
    display: flex;
    flex-direction: row;
    padding: 0;
    padding: 20px 0 ;
    height: 60px;
}

button {
    font-size: 18px;
    padding: 0;
    border: none;
    color: var(--text-color);
    background-color: transparent;
    font-family: var(--main-font);
    cursor: pointer;
}

button:hover {
    text-decoration: underline;
    text-underline-offset: 1.5px;/* Смещение подчеркивания вниз */
}

button[disabled]/*можно применять специальные стили*/ {
    pointer-events: none;
    font-weight: 600;
}

button:focus {
    border: 1px solid var(--text-color);
}

.header__theme-button {
    font-family: var(--main-font);
}

.header__theme-button_type_light {
    position: relative;
}

.header__theme-button_type_dark {
    margin-right: 15px;
    position: relative;
}

.header__theme-button_is-active::after {
    content: ""; 
    position: absolute; 
    left: -10%;
    top: 70%; 
    width: 120%; 
    height: 0.35em; 
    background: var(--accent-color); 
    z-index: -1; 
    transform: translateY(-50%);
}

.theme_dark .header__theme-button_type_dark::after {
    content: "";
    background-image: url('../images/pattern.svg');
}
