.theme_dark .colored-text::after {
    background-image: url('/images/pattern.svg');
}
.content__card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 7%;
    border: 1px solid var(--text-color);
    aspect-ratio: 4/3 
} 
.colored-text::after {
    content: ""; 
    position: absolute; 
    left: -2.5%;
    top: 65%; 
    width: 105%; 
    height: 0.3em; 
    background-color: var(--accent-color); 
    z-index: -1; 
    transform: translateY(-50%);
}

.content__card-title {
    font-size: 60px;
    font-weight: 600;
    font-family: var(--accent-font);
}

.content__card-subtitle {
    font-family: var(--main-font);
    font-size: 18px
}


.colored-text {
    position: relative;
    display: inline-block;/* Элементы будут располагаться в одной строке */
}

.colored-text::after {
    content: ""; 
    position: absolute; 
    left: -2.5%;
    top: 65%; 
    width: 105%; 
    height: 0.3em; 
    background-color: var(--accent-color); 
    z-index: -1; 
    transform: translateY(-50%);
}


/*фото по выше*/

img {
    width: 100%;
  }
  
  .content__figure {
    margin: 7% 0 ;
    width: calc(100% + 10vw);
    position: relative;
    right: 5vw;
    border-bottom: 2px solid var(--text-color);
  } 
  
  .content__picture-caption {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text-color);
    font-size: 21px;
    padding: 25px 0 20px 0;
    font-family: var(--main-font);
  }

