.footer {
    display: flex;
    justify-content: center;
    margin-top: 10%;
    border-top: 1.5px solid var(--text-color); 
}

.footer__copyright {
    font-size: 18px;
    font-family: var(--main-font);
    color: var(--text-color);
    padding: 2.5%;
}